*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
clear: both;
content: "";
display: table;
}

/* Css Header */
header{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 5%;
}
#title{
    margin-bottom: 5%;
    color: rgb(255, 0, 200);
}

/* Css Main */
main{
    width: 80%;
    margin: auto;
    background-color: greenyellow;
}

/* colonne */
.col{
    float: left;
    width: calc(100% / 3);
    color: white;
    padding: 10px 20px;
    
}
.card{
    background-color: rgb(1, 21, 45);
}
.card img{
    float: left;
    height: 100px;
}

/* Informarzioni personali team */
h4,
.mail,
.ruolo{
    margin: 5px;
}
.mail{
    color: rgb(9, 177, 255);
}
